[Desktop Entry]
Name=HDL EDA Studio
Comment=Standalone Native Workstation for SystemVerilog, Verilog & VHDL Simulation
Exec=hdl-eda-studio
Icon=hdl-eda-studio
Terminal=false
Type=Application
Categories=Development;Engineering;Electronics;IDE;
Keywords=verilog;systemverilog;vhdl;eda;simulator;gtkwave;ltspice;
StartupNotify=true
